/* Put code for styling loginform here */
.login-form-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
